/* FILE: style.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
}

#output {
  margin-top: 20px;
  margin-right: 450px;
  margin-left: 450px;
  font-size: 18px;
  background-color: blue;
}
